<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a class="nav-link" routerLink="posts">Posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a class="nav-link" routerLink="new-post">New post</a>
      </li>
    </ul>
    <span class="navbar-text text-white" *ngIf="isNavbarCollapsed">
      Welcome to my blog !
    </span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signup">Sign up</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signin">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onSignOut()"
           *ngIf="isAuth">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
